h3{
    font-size: 1.5em;
    padding-bottom: 0.8em;
    border-bottom: solid 1px var(--border-color);
    margin:0 10em 0 10em;
}
.chat-box{
    margin:1em 15em 0 15em;
    box-sizing: border-box;
}
.chat-user{
    padding: 0.5em;
    margin-left:10em;
    border-left: solid 3px var(--accent-color);
    border-bottom: solid 2px var(--accent-color);
    border-radius: 5px;
    margin-bottom: 2em;
    box-shadow: 1px -1px 5px  var(--accent-color)
}
.chat-bot{
    padding: 0.5em;
    margin-right:10em;
    border-right: solid 3px var(--accent-color);
    border-bottom: solid 2px var(--accent-color);
    border-radius: 5px;
    margin-bottom: 2em;
        box-shadow: -1px 1px 5px  var(--accent-color)
}
form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    width: 100%;
    max-width: 700px;
    margin: 0 auto; 
    padding: 2rem;
    box-sizing: border-box;

    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}
form textarea {
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;

    field-sizing: content;
    min-height: 60px;
    max-height: 300px;
    max-width: 100%;
    resize: vertical;

    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 6px;

    color: var(--text-color);
    outline:none;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
form textarea::placeholder{
    color:#aaaaaa;
}
form textarea:focus{
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.2);
}
form textarea:hover{
    border-color: #777;
}
form button{
    grid-column: 1/ -1;
    margin-top: 10px;
    padding:14px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}
form button:hover {
    background-color: #535bf2;
}

form textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover, 
form textarea:-webkit-autofill:focus{
    -webkit-text-fill-color: #ffffff;

    -webkit-box-shadow: 0 0 0px 1000px #413e3e inset;

    transition: background-color 5000s ease-in-out 0s;
}