button{
    grid-column: 1/ -1;
    margin-top: 2em;
    padding:14px;
    background-color: #ca3f3f;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}