.travel-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    width: 100%;
    max-width: 700px;
    margin: 0 auto; 
    padding: 2rem;
    box-sizing: border-box;

    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}
.travel-form input, .travel-form select {
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;

    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 6px;

    color: var(--text-color);
    outline:none;
    font-size: 1em;
    transition: all 0.3s ease;
}
.travel-form input::placeholder{
    color:#aaaaaa;
}
.travel-form input:focus,
.travel-form select:focus{
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.2);
}
.travel-form input:hover,
.travel-form select:hover {
    border-color: #777;
}
.travel-form button{
    grid-column: 1/ -1;
    margin-top: 10px;
    padding:14px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.travel-form button:hover {
    background-color: #535bf2; 
}

.travel-form input:-webkit-autofill,
.travel-form input:-webkit-autofill:hover, 
.travel-form input:-webkit-autofill:focus, 
.travel-form select:-webkit-autofill,
.travel-form select:-webkit-autofill:hover,
.travel-form select:-webkit-autofill:focus {
  
    -webkit-text-fill-color: #ffffff;
  
    -webkit-box-shadow: 0 0 0px 1000px #413e3e inset;
  
    transition: background-color 5000s ease-in-out 0s;
}