#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
:root {
  --bg-color: #2b2b2b;      
  --input-bg: #413e3e;      
  --text-color: #ffffff;     
  --accent-color: #646cff;   
  --border-color: #555555;   
  --radius: 8px;             
  --bg-plan: #414141;
}
.loader{
  padding-top:2em;

}